### Importing Libraries

In [1]:
import pandas as pd

### Creating our own dataset

In [2]:
weather_data = {
    "day":["1/1/2021","2/2/2021","3/3/2021","4/4/2021"],
    "temp":[12,16,18,19],
    "windspeed":[6,7,8,9],
    "event":["rain","snow","rain","sunny"]
}

### Reading our own dataset as Pandas DataFrame

In [3]:
df = pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2021    12          6   rain
1  2/2/2021    16          7   snow
2  3/3/2021    18          8   rain
3  4/4/2021    19          9  sunny

### Show column names of our dataframe

In [4]:
df.columns

Index(['day', 'temp', 'windspeed', 'event'], dtype='object')

### Show Last 2 rows in dataframe

In [5]:
df.tail(2)

        day  temp  windspeed  event
2  3/3/2021    18          8   rain
3  4/4/2021    19          9  sunny

### Reading data from CSV files

In [6]:
df2 = pd.read_csv("weather.csv")
df2

          day  temperature  windspeed   event
0  01-01-2021         28.0        4.0    Rain
1  02-02-2021         32.0        3.0   Sunny
2  03-03-2021         34.0        7.0  Cloudy
3  04-04-2021         34.0        8.0  Cloudy
4  05-05-2021         40.0       10.0    Snow

### Slicing dataframe from 1st row to 4th row(exclusive)

In [7]:
df2[1:4]

          day  temperature  windspeed   event
1  02-02-2021         32.0        3.0   Sunny
2  03-03-2021         34.0        7.0  Cloudy
3  04-04-2021         34.0        8.0  Cloudy

### Slicing dataframe from starting to 5th row(exclusive)

In [8]:
df2[:5]

          day  temperature  windspeed   event
0  01-01-2021         28.0        4.0    Rain
1  02-02-2021         32.0        3.0   Sunny
2  03-03-2021         34.0        7.0  Cloudy
3  04-04-2021         34.0        8.0  Cloudy
4  05-05-2021         40.0       10.0    Snow

### Slicing dataframe from starting to last row(exclusive)

In [9]:
df2[:-1]

          day  temperature  windspeed   event
0  01-01-2021         28.0        4.0    Rain
1  02-02-2021         32.0        3.0   Sunny
2  03-03-2021         34.0        7.0  Cloudy
3  04-04-2021         34.0        8.0  Cloudy

### Get only one column from dataframe

In [10]:
df2["day"]

0    01-01-2021
1    02-02-2021
2    03-03-2021
3    04-04-2021
4    05-05-2021
Name: day, dtype: object

### Get more than 1 columns from dataframe

In [11]:
df2[["day", "temperature"]]

          day  temperature
0  01-01-2021         28.0
1  02-02-2021         32.0
2  03-03-2021         34.0
3  04-04-2021         34.0
4  05-05-2021         40.0

### Get Maximum value in a column from dataframe

In [12]:
df2["temperature"].max()

40.0

### Get Minimum value in a column from dataframe

In [13]:
df2["temperature"].min()

28.0

### Get all records with temperature > 35

In [14]:
df2[df2["temperature"] > 35]

          day  temperature  windspeed event
4  05-05-2021         40.0       10.0  Snow

In [15]:
df2["temperature"] > 35 # this returns boolean for all values for this condition

0    False
1    False
2    False
3    False
4     True
Name: temperature, dtype: bool

In [16]:
df2.describe()

       temperature  windspeed
count     5.000000   5.000000
mean     33.600000   6.400000
std       4.335897   2.880972
min      28.000000   3.000000
25%      32.000000   4.000000
50%      34.000000   7.000000
75%      34.000000   8.000000
max      40.000000  10.000000